:root {
  --global-color-neutral-900: hsl(39deg 5% 10%);
  --global-color-neutral-800: hsl(39deg 5% 22.5%);
  --global-color-neutral-700: hsl(39deg 5% 35%);
  --global-color-neutral-600: hsl(39deg 5% 42.5%);
  --global-color-neutral-500: hsl(39deg 5% 55%);
  --global-color-neutral-400: hsl(39deg 7.5% 65%);
  --global-color-neutral-300: hsl(39deg 10% 75%);
  --global-color-neutral-200: hsl(39deg 15% 85%);
  --global-color-neutral-100: hsl(39deg 30% 95%);
  
  --global-surface-color: white;
  --global-background-color: var(--global-color-neutral-100);
  --global-text-color: var(--global-color-neutral-900);
  --global-meta-color: var(--global-color-neutral-600);
  --global-meta-underline-color: var(--global-color-neutral-400);
  --global-underline-color: var(--global-color-neutral-700);
  --global-border-color: var(--global-color-neutral-200);

  --global-font-feature-settings: "liga", "dlig", "clig";
  
  --global-shadow-hsl: 39deg 5% 10%;
  --global-thumb-shadow: 0 0 0 1px hsl(var(--global-shadow-hsl) / .075), 0 1px 4px hsl(var(--global-shadow-hsl) / .3);

  --global-whitespace: 1.4em;
  --global-whitespace-sm: 1em;
  --global-whitespace-xs: .7em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --global-surface-color: var(--global-color-neutral-200);
    --global-background-color: var(--global-color-neutral-900);
    --global-text-color: var(--global-color-neutral-100);
    --global-underline-color: var(--global-color-neutral-300);
    --global-meta-underline-color: var(--global-color-neutral-700);
    --global-meta-color: var(--global-color-neutral-500);
    --global-border-color: var(--global-color-neutral-800);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {   
  background-color: var(--global-background-color); 
  color: var(--global-text-color);
  min-height: 100vh;
  font-size: 1.4rem;
  font-size: clamp(1rem, 0.6000rem + 2.0000vw, 1.4rem);
  font-weight: 400;
  font-family: garamond-premier-pro, serif; 
  font-feature-settings: var(--global-font-feature-settings);
  line-height: 1.4;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overscroll-behavior-y: contain;
}

::selection {
  background-color: var(--global-text-color);
  color: var(--global-background-color);
}

h1,
h2,
h3 {
  font-style: italic;    
  font-weight: normal;
  font-size: 100%;
  font-feature-settings: var(--global-font-feature-settings), "hlig", "cv04";
}

a:any-link {
  color: inherit;
  text-decoration-color: var(--link-underline-color, inherit);
  text-decoration-thickness: from-font; 
}

label {
  display: block;
}

button {
  all: unset;
}

input[type="range"] {
  --range__track-height:  1px;
  --range__thumb-size: 1rem;
  --range__thumb-offset: calc(-1 * var(--range__thumb-size) / 2 + calc(var(--range__track-height) / 2));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  margin: 0;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--global-border-color);
  height: var(--range__track-height);
}

input[type="range"]::-moz-range-track {
  background: var(--global-border-color);
  height: var(--range__track-height);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: var(--range__thumb-size);
  width: var(--range__thumb-size);
  background: var(--global-background-color);
  background: var(--global-surface-color);
  box-shadow: var(--global-thumb-shadow);
  transform: translateY(var(--range__thumb-offset));
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  height: var(--range__thumb-size);
  width: var(--range__thumb-size);
  background: var(--global-background-color);
  background: var(--global-surface-color);
  box-shadow: var(--global-thumb-shadow);
  transform: translateY(var(--range__thumb-offset));
  border-radius: 50%;
}

input[type="range"]:disabled {
  cursor: not-allowed;
}

input[type="range"]:disabled + output {
  color: var(--global-meta-color);
}

*:focus-visible {
  outline: auto;
  outline-color: var(--global-underline-color);
  outline-offset: .25em;
}

/* app */

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
}

.app__poem,
.app__loading,
.app__page {
  padding: var(--global-whitespace);
  display: grid;
  grid-template-columns: minmax(auto, max-content);
  gap: var(--global-whitespace);
  grid-row: 2;
  grid-column: 1;
  place-content: center;
}

.app__page {
  max-width: 45ch;
  margin: auto;
}

.app__header {
  padding: var(--global-whitespace);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.4rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, var(--global-background-color), transparent);
  z-index: 20;
}

.app__interface {
  display: flex;
  align-items: start;
  gap: var(--global-whitespace-sm);
  position: relative;
}

.app__title {
  position: relative;
  font-size: 1rem;
}

.app__button {
  position: relative;
  will-change: transform;
  transition: transform .1s ease-in-out;
}

.app__button--random:active {
  transform: rotate(50deg);
}

.app__button svg {
  width: 1rem;
  height: auto;
  display: block;
  stroke: currentColor;
}

.app__poem,
.app__loading {    
  transition: opacity .5s ease;
}

.app__loading {
  will-change: opacity;
}

.app__poem {
  will-change: contents;
}

.app__loading {
  font-size: 1rem;
  font-style: italic;
  opacity: 0;    
  transition-duration: .25s;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.is-loading .app__loading,
.is-starting .app__loading {
  opacity: 1;
  transition-delay: .25s;
  visibility: visible;
}

.is-loading .app__poem,
.is-starting .app__poem {
  opacity: 0;
}

.app__loader {
  width: 1rem;
  height: auto;
}

.app__loader--spinner line {
  opacity: .25;
  animation: spinnerLine 800ms infinite;
}

.app__loader line:nth-child(1) {
  animation-delay: 100ms;
}

.app__loader line:nth-child(2) {
  animation-delay: 200ms;
}

.app__loader line:nth-child(3) {
  animation-delay: 300ms;
}

.app__loader line:nth-child(4) {
  animation-delay: 400ms;
}

.app__loader line:nth-child(5) {
  animation-delay: 500ms;
}

.app__loader line:nth-child(6) {
  animation-delay: 600ms;
}

.app__loader line:nth-child(7) {
  animation-delay: 700ms;
}

.app__loader line:nth-child(8) {
  animation-delay: 800ms;
}

@keyframes spinnerLine {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }  
}

.app__footer {
  padding: var(--global-whitespace);
  font-size: 1rem;
  color: var(--global-meta-color);
  display: flex;
  column-gap: var(--global-whitespace-sm);
  flex-wrap: wrap;
}

.app__footer--fixed {
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to top, var(--global-background-color), transparent);
}

.app__footer a {
  --link-underline-color: var(--global-meta-underline-color);
}

a[href="about"] {
  text-decoration: none;
}

/* settings */

.settings {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 30;
}

.settings__container {
  width: 100%;
  max-width: 400px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: var(--global-whitespace) calc(var(--global-whitespace) * 2) var(--global-whitespace) var(--global-whitespace);
  display: grid;
  gap: var(--global-whitespace);
  align-content: start;
  font-size: 1rem;
  background-color: var(--global-background-color);
  border-left: 1px solid var(--global-border-color);
  will-change: transform;
  transform: translateX(100%);  
  transition: transform .35s cubic-bezier(0.4, 0, 0.2, 1);
}

.settings__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--settings__backgroundColor, var(--global-color-neutral-100));
  will-change: opacity;
  opacity: var(--settings__background-opacity, 0); 
  transition: opacity .35s ease;
}

.settings__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--global-whitespace);
}

.show-settings .settings {
    pointer-events: auto;
    --settings__background-opacity: var(--show-settings-backgroundOpacity, .75);
}

.show-settings .settings__container {
  transform: translateX(var(--global-whitespace));
}

@media (prefers-color-scheme: dark) {
  .settings {
    --settings__backgroundColor: var(--global-color-neutral-900);
    --show-settings-backgroundOpacity: .875;
  }
}

.poem__title {
  max-width: 40ch;
}

.poem__footer {
  font-feature-settings: var(--global-font-feature-settings), "smcp", "c2sc";
  text-align: right;
} 

/* settings */

.setting + .setting {
  margin-top: calc(var(--global-whitespace) * 2);
}

.setting {
  display: grid;
  gap: var(--global-whitespace-xs);
}

.setting.is-disabled {
  opacity: 0.5;
}

.setting.is-disabled label {
  color: var(--global-meta-color);
}

.setting__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--global-whitespace-sm);
}

.setting__explanation {
  color: var(--global-meta-color);
}

/* range slider stuff */

.range__output {
  max-width: 2ch;
  font-feature-settings: var(--global-font-feature-settings), "lnum", "tnum";
}

/* custom toggle button */

.toggle {
  margin: 0;
  --toggle-height: 1px;
  --toggle__thumb-size: 1rem; 
  --toggle__thumb-offset: calc(-1 * var(--toggle__thumb-size) / 2 + calc(var(--toggle-height) / 2));
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: var(--toggle-height);
  appearance: none;
  height: var(--toggle-height);
  width: calc(var(--toggle__thumb-size) * 2);
  background-color: var(--global-border-color);  
}

.toggle::after {
  content: "";
  display: block;
  height: var(--toggle__thumb-size);
  width: var(--toggle__thumb-size);
  background: var(--global-surface-color);
  border-radius: 50%;
  box-shadow: 0 0 0 1px hsl(39deg 30% 10% / .075), 0 1px 4px hsl(39deg 30% 10% / .3);
  will-change: transform;
  transform: translate(0, var(--toggle__thumb-offset));  
  transition: transform .1s ease;
}

.toggle:checked::after {
  transform: translate(var(--toggle__thumb-size), var(--toggle__thumb-offset));
}

/* scope content */

.s-content a {
  text-decoration-color: var(--global-underline-color);
}

/* install button stuff */

.hidden {
  display: none !important;
}

#installContainer {
  position: absolute;
  bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

#installContainer button {
  background-color: inherit;
  border: 1px solid white;
  color: white;
  font-size: 1em;
  padding: 0.75em;
}