@font-face {
  font-family: 'Newsreader Var';
  src: url(../fonts/Newsreader[opsz\,wght].woff2) format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Var';
  src: url(../fonts/Newsreader-Italic[opsz\,wght].woff2) format('woff2-variations');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond Web';
  src: url(../fonts/EBGaramond12-Regular.woff) format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond Web';
  src: url(../fonts/EBGaramond12-Italic.woff) format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --global-color-neutral-900: hsl(39deg 5% 10%);
  --global-color-neutral-800: hsl(39deg 5% 22.5%);
  --global-color-neutral-700: hsl(39deg 5% 35%);
  --global-color-neutral-600: hsl(39deg 5% 42.5%);
  --global-color-neutral-500: hsl(39deg 5% 55%);
  --global-color-neutral-400: hsl(39deg 7.5% 65%);
  --global-color-neutral-300: hsl(39deg 10% 75%);
  --global-color-neutral-200: hsl(39deg 15% 85%);
  --global-color-neutral-100: hsl(39deg 30% 95%);
  
  --global-surface-color: white;
  --global-background-color: var(--global-color-neutral-100);
  --global-text-color: var(--global-color-neutral-900);
  --global-meta-color: var(--global-color-neutral-600);
  --global-meta-underline-color: var(--global-color-neutral-400);
  --global-underline-color: var(--global-color-neutral-700);
  --global-border-color: var(--global-color-neutral-200);

  --global-font-feature-settings: "liga", "dlig", "clig";
  
  --global-shadow-hsl: 39deg 5% 10%;
  --global-thumb-shadow: 0 0 0 1px hsl(var(--global-shadow-hsl) / .075), 0 1px 4px hsl(var(--global-shadow-hsl) / .3);

  --global-whitespace: 1.4em;
  --global-whitespace-sm: 1em;
  --global-whitespace-xs: .7em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --global-surface-color: var(--global-color-neutral-200);
    --global-background-color: var(--global-color-neutral-900);
    --global-text-color: var(--global-color-neutral-100);
    --global-underline-color: var(--global-color-neutral-300);
    --global-meta-underline-color: var(--global-color-neutral-700);
    --global-meta-color: var(--global-color-neutral-500);
    --global-border-color: var(--global-color-neutral-800);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset;
}

input[type="range"] {
  --range__track-height:  1px;
  --range__thumb-size: 1rem;
  --range__thumb-offset: calc(-1 * var(--range__thumb-size) / 2 + calc(var(--range__track-height) / 2));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  margin: 0;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--global-border-color);
  height: var(--range__track-height);
}

input[type="range"]::-moz-range-track {
  background: var(--global-border-color);
  height: var(--range__track-height);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: var(--range__thumb-size);
  width: var(--range__thumb-size);
  background: var(--global-background-color);
  background: var(--global-surface-color);
  box-shadow: var(--global-thumb-shadow);
  /* margin-top: calc(-1 * var(--range__thumb-size) / 2 + calc(var(--range__track-height) / 2)); */
  transform: translateY(var(--range__thumb-offset));
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  height: var(--range__thumb-size);
  width: var(--range__thumb-size);
  background: var(--global-background-color);
  background: var(--global-surface-color);
  box-shadow: var(--global-thumb-shadow);
  /* margin-top: calc(-1 * var(--range__thumb-size) / 2 + calc(var(--range__track-height) / 2)); */
  transform: translateY(var(--range__thumb-offset));
  border-radius: 50%;
}

input[type="range"]:disabled {
  cursor: not-allowed;
}
/* 
input[type="range"]:disabled::-webkit-slider-thumb {
  background-color: var(--global-border-color);
  box-shadow: none;
}

input[type="range"]:disabled::-moz-range-thumb {
  background-color: var(--global-border-color);
  box-shadow: none;
} */

input[type="range"]:disabled + output {
  color: var(--global-meta-color);
}

*:focus-visible {
  outline: auto;
  outline-color: var(--global-underline-color);
  outline-offset: .25em;
}

/* html,
body {
  height: 100%;
  position: relative;
} */

body {   
  background-color: var(--global-background-color); 
  color: var(--global-text-color);
  min-height: 100vh;
  font-size: 1.4rem;
  font-size: clamp(1rem, 0.6000rem + 2.0000vw, 1.4rem);
  font-weight: 400;
  font-family: "EB Garamond Web", serif; 
  font-family: garamond-premier-pro, serif; 
  /* font-family: garamond-premier-pro-subhead, serif;  */
  font-feature-settings: var(--global-font-feature-settings);
  /* font-weight: 300;
  font-family: "Newsreader Var", serif; 
  font-variation-settings: 'wght' 375, 'opsz' 20;
  font-feature-settings: "liga"; */
  line-height: 1.4;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-image: url("../img/photo-1603484477859-abe6a73f9366.jpeg");
  background-image: url("../img/photo-1528458965990-428de4b1cb0d.jpeg");
  background-size: cover;
  background-repeat: repeat;
  filter: grayscale(100%) contrast(150%);
  opacity: .1;
} */

::selection {
  background-color: var(--global-text-color);
  color: var(--global-background-color);
}

h1,
h2,
h3 {
  font-style: italic;    
  font-weight: normal;
  font-size: 100%;
  font-feature-settings: var(--global-font-feature-settings), "hlig", "cv04";
}

a:any-link {
  color: inherit;
  text-decoration-color: var(--link-underline-color, inherit);
  text-decoration-thickness: from-font; 
}

label {
  display: block;
}

.app {
  display: grid;
  /* grid-template-rows: auto minmax(auto, 100vh) auto; */
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
}

.app__poem,
.app__loading,
.app__page {
  padding: var(--global-whitespace);
  display: grid;
  grid-template-columns: minmax(auto, max-content);
  gap: var(--global-whitespace);
  /* gap: 1.4em; */
  grid-row: 2;
  grid-column: 1;
  place-content: center;
}

.app__page {
  max-width: 45ch;
  margin: auto;
}

.app__header {
  padding: var(--global-whitespace);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.4rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, var(--global-background-color), transparent);
  z-index: 20;
}

/* .app__header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, var(--global-background-color), transparent);
} */

.app__interface {
  display: flex;
  align-items: start;
  gap: var(--global-whitespace-sm);
  position: relative;
}

.app__title {
  position: relative;
  font-size: 1rem;
}

.app__button {
  position: relative;
  transition: transform .1s ease-in-out;
}

.app__button--random:active {
  transform: rotate(50deg);
}

.app__button svg {
  width: 1rem;
  height: auto;
  display: block;
  stroke: currentColor;
}

.app__poem,
.app__loading {  
  will-change: opacity, transform;
  transition: all .5s ease;
  transition-property: opacity, transform;
}

.app__loading {
  font-size: 1rem;
  font-style: italic;
  opacity: 0;    
  transition-duration: .25s;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.is-loading .app__loading,
.is-starting .app__loading {
  opacity: 1;
  transition-delay: .25s;
  visibility: visible;
}

.is-loading .app__poem,
.is-starting .app__poem {
  opacity: 0;
  /* transform: scale(.99); */
}

.app__loader {
  width: 1rem;
  height: auto;
}

.app__loader--feather {
  width: 1.5rem;
  animation: write 1500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  stroke-width: 1;
}

@keyframes write {
  10% {
    transform: translate(3px ,-3px);
  }
  20% {
    transform: translate(6px ,3px);
  }
  30% {
    transform: translate(9px ,-2px);
  }
  40% {
    transform: translate(12px ,2px);
  }
  50% {
    transform: translate(15px ,-1px);
  }
  60% {
    transform: translate(18px ,1px);
  }
  100% {
    transform: translate(0,0);
  }
}

.app__loader--spinner line {
  opacity: .25;
  animation: spinnerLine 800ms infinite;
}

.app__loader line:nth-child(1) {
  animation-delay: 100ms;
}

.app__loader line:nth-child(2) {
  animation-delay: 200ms;
}

.app__loader line:nth-child(3) {
  animation-delay: 300ms;
}

.app__loader line:nth-child(4) {
  animation-delay: 400ms;
}

.app__loader line:nth-child(5) {
  animation-delay: 500ms;
}

.app__loader line:nth-child(6) {
  animation-delay: 600ms;
}

.app__loader line:nth-child(7) {
  animation-delay: 700ms;
}

.app__loader line:nth-child(8) {
  animation-delay: 800ms;
}

@keyframes spinnerLine {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }  
}

.app__footer {
  padding: var(--global-whitespace);
  font-size: 1rem;
  color: var(--global-meta-color);
  display: flex;
  column-gap: var(--global-whitespace-sm);
  flex-wrap: wrap;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
}

.app__footer--fixed {
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to top, var(--global-background-color), transparent);
}

.app__footer a {
  --link-underline-color: var(--global-meta-underline-color);
  /* text-decoration: none; */
}

a[href="about"] {
  text-decoration: none;
  /* margin-left: auto; */
  /* position: fixed;
  bottom: 0;
  right: 0;
  padding: var(--global-whitespace); */
}

/* a[href="about"] span {
  position: relative;
} */

/* a[href="about"]::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--global-background-color);
  border-radius: 100%;
  filter: blur(10px);
} */

.settings {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 30;
}

.settings__container {
  width: 100%;
  max-width: 400px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: var(--global-whitespace) calc(var(--global-whitespace) * 2) var(--global-whitespace) var(--global-whitespace);
  display: grid;
  gap: var(--global-whitespace);
  align-content: start;
  font-size: 1rem;
  background-color: var(--global-background-color);
  border-left: 1px solid var(--global-border-color);
  /* box-shadow: 0 0 20px hsl(var(--global-shadow-hsl) / .2); */
  transform: translateX(100%);
  will-change: transform;
  /* transition: transform .5s ease-in; */
  /* transition: transform .5s ease; */
  /* transition: transform .5s ease-in-out; */
  transition: transform .35s cubic-bezier(0.445, 0.050, 0.550, 0.950);
  /* transition: transform .5s cubic-bezier(0.65, 0, 0.35, 1); */
}

.settings__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--settings__backgroundColor, var(--global-color-neutral-100));
  opacity: var(--settings__background-opacity, 0);
  will-change: opacity;
  transition: opacity .35s ease;
}

.settings__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--global-whitespace);
}

.show-settings .settings {
    pointer-events: auto;
    --settings__background-opacity: var(--show-settings-backgroundOpacity, .75);
}

.show-settings .settings__container {
  transform: translateX(var(--global-whitespace));
  /* transition-timing-function: ease-out; */
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .settings {
    --settings__backgroundColor: var(--global-color-neutral-900);
    --show-settings-backgroundOpacity: .875;
  }
}

.poem__title {
  max-width: 40ch;
}

.poem__footer {
  font-feature-settings: var(--global-font-feature-settings), "smcp", "c2sc";
  text-align: right;
} 

/* settings */

.setting + .setting {
  margin-top: calc(var(--global-whitespace) * 2);
}

.setting {
  display: grid;
  gap: var(--global-whitespace-xs);
}

.setting.is-disabled {
  opacity: 0.5;
}

.setting.is-disabled label {
  color: var(--global-meta-color);
}

.setting__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--global-whitespace-sm);
}

.setting__explanation {
  /* margin-top: var(--global-whitespace-xs); */
  color: var(--global-meta-color);
}

/* range slider stuff */

.range__output {
  max-width: 2ch;
  font-feature-settings: var(--global-font-feature-settings), "lnum", "tnum";
}

/* custom toggle button */

.toggle {
  margin: 0;
  --toggle-height: 1px;
  --toggle__thumb-size: 1rem; 
  --toggle__thumb-offset: calc(-1 * var(--toggle__thumb-size) / 2 + calc(var(--toggle-height) / 2));
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: var(--toggle-height);
  appearance: none;
  height: var(--toggle-height);
  width: calc(var(--toggle__thumb-size) * 2);
  background-color: var(--global-border-color);  
}

.toggle::after {
  content: "";
  display: block;
  height: var(--toggle__thumb-size);
  width: var(--toggle__thumb-size);
  background: var(--global-surface-color);
  box-shadow: 0 0 0 1px hsl(39deg 30% 10% / .075), 0 1px 4px hsl(39deg 30% 10% / .3);
  /* margin-top: calc(-1 * var(--toggle__thumb-size) / 2 + calc(var(--toggle-height) / 2)); */
  transform: translate(0, var(--toggle__thumb-offset));
  border-radius: 50%;
  transition: transform .1s ease;
}

.toggle:checked::after {
  transform: translate(var(--toggle__thumb-size), var(--toggle__thumb-offset));
}

.s-content a {
  /* text-decoration-color: var(--global-meta-color); */
  text-decoration-color: var(--global-underline-color);
}